#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex !important;
  height: 100vh;
}

.sidebar {
  width: 230px;
  background-color: #f4f4f4;
  padding: 20px;
  transition: background-color 0.1s, color 0.1s;
  justify-content: center;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  padding: 0px;
  transition: background-color 0.1s, color 0.1s;
}

.profile-circle-wrapper {
  max-width: fit-content;
  padding-right: 20px;
}

.chat-top-bar {
  display: flex;
  padding: 10px;
  text-align: left;
  justify-content: space-between;
  flex-direction: row;
}

.chat-top-bar p {
  max-width: fit-content;
  min-width: 0;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  padding-left: 20px;
}

.dark-mode-svg .dark-mode-path {
  fill: #000000;
  /* Default color */
}

.container.dark .dark-mode-svg .dark-mode-path,
.login-container.dark .dark-mode-svg .dark-mode-path {
  fill: #ffffff;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-height: 850px;
  overflow-y: auto;
}

.error-message {
  background-color: #ffdddd;
  text-align: left;
  color: #d8000c;
  border: 1px solid #d8000c;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;

}

.error-message p {
  text-align: center;
}

.container.dark .error-message {
  background-color: #4f0000;
  color: #ffdddd;
  border-color: #ffdddd;
}

.try-again-button {
  background-color: #d8000c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.1s;
}

.try-again-button:hover {
  background-color: #a80000;
}

.container.dark .try-again-button {
  background-color: #ffdddd;
  color: #d8000c;
}

.container.dark .try-again-button:hover {
  background-color: #ffaaaa;
}



.chat-content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
}

.chat-message-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
}

.chat-message-wrapper .user-message {
  width: 800px;
  border-radius: 10px;
  background-color: #f4f4f4;
  text-align: left;
  padding: 20px;
  margin: 0px;
}

.container.dark .user-message {
  background-color: #303030;
  color: #fff;
}

.chat-message-wrapper .bot-message {
  width: 800px;
  border-radius: 10px;
  background-color: #f4f4f4;
  text-align: left;
  padding: 20px;
  margin: 0px;
}

.chat-message-wrapper .user-message,
.chat-message-wrapper .bot-message,
.question-panel,
.error-message {
  word-break: break-word;
}

.container.dark .bot-message {
  background-color: #303030;
  color: #fff;
}

.no-messages {
  text-align: center;
  margin-top: 50px;
}

.no-messages h1 {
  font-size: 2.5em;
  color: #333;
}

.container.dark .no-messages h1 {
  color: #fff;
}

.example-questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.question-panel {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 200px;
  text-align: center;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  transition: background-color 0.1s, border-color 0.1s;
}

.question-panel:hover {
  background-color: #e0e0e0;
  border-color: #ccc;
}

.container.dark .question-panel {
  background-color: #303030;
  border-color: #555;
  color: #fff;
}

.container.dark .question-panel:hover {
  background-color: #383838;
  border-color: #666;
}

.intro-text-wrapper {
  text-align: left;
}

.intro-text {
  font-size: 1em;
  margin: 0;
  padding-left: 20px;
}

.faq-style {
  color: #666;
  font-weight: 700;
}

.container.dark .faq-style {
  color: #969696;
  font-weight: 700;
}

.ki-svg path,
.student-svg path {
  fill: #333333;
  stroke: #333333;
}

.container.dark .ki-svg path,
.container.dark .student-svg path {
  fill: #bdbdbd;
  stroke: #bdbdbd;
}

.send-svg path,
.plus-svg path {
  fill: #000000;
  stroke: #00000000;
}

.send-button.disabled .send-svg path {
  fill: #777777;
}

.container.dark .send-button.disabled .send-svg path {
  background-color: #555;
}

.send-button.disabled .icon-hover-wrapper {
  background-color: #00000000;
}

.profile-svg {
  fill: #000000;
  stroke: #00000000;
}

.container.dark .ki-svg path,
.container.dark .profile-svg,
.container.dark .student-svg path,
.container.dark .send-svg path,
.container.dark .plus-svg path,
.container.dark .profile-svg,
.container.dark .modal-svg {
  fill: #fff;
  stroke: #00000000;
}

.chat-profile-pic {
  padding: 15px 10px 10px 10px;
  padding-top: 20px;
}

.container.dark .sidebar {
  background-color: #101010;
  color: #dadada;
}

.container.dark .content {
  background-color: #202020;
  color: #fff;
}

.dark-mode-button {
  background-color: #00000000;
  border: #00000000;
  max-height: 33px;
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.sidebar .dark-mode-button {
  padding-right: 2px;
}

svg {
  transition: fill 0.1s;
}

.icon-hover-wrapper {
  padding: 4px;
  border-radius: 20%;
  background-color: #00000000;
  transition: background-color 0.1s, color 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-hover-wrapper:hover {
  background-color: #99999949;
}


.container .dark-mode-button svg {
  fill: #000000;
}

.container.dark .dark-mode-button svg {
  fill: #ffffff;
}

.chat-text-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: fit-content;
  max-height: 200px;
}

.chat-text-input {
  width: 100%;
  min-height: 60px;
  max-height: 150px;
  overflow-y: auto;
  resize: none;
  background-color: #00000000;
  border: #00000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}


.chat-text-input {
  color: #000;
}


.container.dark .chat-text-input {
  color: #fff;
}

.chat-text-input:focus {
  outline: none;
}

.chat-input-box {
  width: 800px;
  min-height: 75px;
  border-radius: 25px;
  background-color: #f4f4f4;
  padding: 10px;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.container.dark .chat-input-box {
  background-color: #303030;
  color: #fff;
}

.send-button {
  background-color: #00000000;
  border: #00000000;
  width: fit-content;
  height: fit-content;
  padding-left: 20px;
}


.container .dark-mode-button {
  color: #000;
}

.dark-mode-button:focus {
  outline: none;
}

.dark-mode-button:hover {
  outline: none;
}

.dark-mode-button:active {
  outline: none;
}


.sidebar-top-bar {
  padding: 8px;
  border-radius: 8px;
  text-align: left;
  font-size: 0.95em;
  display: flex;
  transition: background-color 0.1s, color 0.1s;
}

.profile-pic-circle {
  width: min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-modal {
  display: flex;
  position: fixed;
  z-index: 1;
  right: 10px;
  top: 50px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;

}

.modal-user-info {
  font-size: 0.95em;
  color: #acacac;
}


.modal-content {
  background-color: #f4f4f4;
  margin: auto;
  padding: 20px;
  border: 1px solid #acacac;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
}

.container.dark .modal-content {
  background-color: #303030;
  color: #fff;
}

.modal-button {
  height: 1.5em;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00000000;
}

.modal-button:hover {
  background-color: #e0e0e0;
}

.container.dark .modal-button:hover {
  background-color: #383838;
  color: #fff;
}

.container.dark .modal-button {

  color: #fff;
}

.modal-svg path {
  fill: #000000;
  stroke: #00000000;
}

.signout-text {

  margin-left: 5px;

}

.chat-top-bar-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 20px;
}

.dhbw-logo {
  width: 100px;
  height: auto;
}

.container.dark .sidebar-top-bar {
  background-color: #303030;
  color: #fff;
}

.container.dark .sidebar-top-bar:hover {
  background-color: #404040;
  color: #fff;
}

.sidebar-top-bar {
  background-color: #e0e0e0;
  color: #000;
}

.sidebar-top-bar:hover {
  background-color: #d3d3d3;
  color: #000;
}

.new-chat {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 0px;
  cursor: pointer;
  margin-top: 0px;
}

.chat-sidebar-item {
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.1s, color 0.1s;
  text-align: left;
  font-size: 0.95em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-sidebar-item:hover {
  background-color: #e0e0e0;
}

.container.dark .chat-sidebar-item {
  background-color: #101010;
  color: #fff;
}

.container.dark .chat-sidebar-item:hover {
  background-color: #333;
}

/* TODO: Doesnt work */
.sidebar-date-title {
  padding-left: 8px;
  margin-top: 40px;
  text-align: left;
  font-weight: bold;
  font-size: 0.95em;
}

.sidebar-top-logo {
  padding: 20px;
  margin: 0;
}


.loading-dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.loading-dots span {
  display: inline-block;
  margin: 0 2px;
  font-size: 1em;
  animation: blink 1s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* Login Main */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  transition: background-color 0.1s, color 0.1s;
}

.login-container.dark {
  background-color: #202020;
}

.login-container.dark .login-container {
  background-color: #202020;
  color: #fff;
}

.login-top-bar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.login-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-logo img {
  margin-right: 10px;
}

.login-form {
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.1s, color 0.1s;
  width: 350px;
}

.login-container.dark .login-form {
  background-color: #303030;
  color: #fff;
}

.login-form h1 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.login-container.dark h1 {
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  color: #333;
}

.login-container.dark .form-group label {
  color: #fff;
}

.form-group input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.1s, color 0.1s;
}

.login-container.dark .form-group input {
  background-color: #505050;
  color: #fff;
  border: 1px solid #555;
}

.login-register-button {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
  background-color: #ff0000;
  color: #fff;
}

.login-register-button:hover {
  background-color: #ff4d4d;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-container.dark .forgot-password {
  color: #aaa;
}